<div class="home">
	<div class="top-bar">
		<span class="signal">&#9679;&#9679;&#9679;&#9679;&#9679;</span>
		<span class="wifi"><hr /></span>
		<span class="time">9:41 AM</span>
		<span class="battery">100%</span>
	</div>
	
	<div class="icons">
	
		<a class="icon messages"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		
	</div>
	
	<div class="nav-bar">
		<span>&#9679;</span>
		<span>&#9679;</span>
	</div>
	
	<div class="footer-bar icons">
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
		<a class="icon"></a>
	</div>
	
</div>