<div class="home">
	<div class="bg"></div>
		
	<div class="top-bar">
		<span class="signal">&#9679;&#9679;&#9679;&#9679;&#9679;</span>
		<span class="wifi"><hr /></span>
		<span class="time"></span>
		<span class="battery">100%</span>
	</div>
	
	<div class="icons">
	
		<a class="icon messages" alt="Messages">
			<hr />
		</a>
		<a class="icon calendar" alt="Calendar">
			<span class="weekday"></span>
			<span class="date"></span>
		</a>
		<a class="icon photos" alt="Photos"></a>
		<a class="icon camera" alt="Camera"></a>
		
		<a class="icon weather" alt="Weather"></a>
		<a class="icon clock" alt="Clock">
			<div class="clock">
				<div><span>12</span></div>
				<div><span>11</span><span>1</span></div>
				<div><span>10</span><span>2</span></div>
				<div><span>9</span><span>3</span></div>
				<div><span>8</span><span>4</span></div>
				<div><span>7</span><span>5</span></div>
				<div><span>6</span></div>
				<hr class="minute"/><hr class="hour"/><hr class="second"/>
			</div>
		</a>
		<a class="icon maps" alt="Maps"></a>
		<a class="icon videos" alt="Videos"></a>
		
		<a class="icon notes" alt="Notes"></a>
		<a class="icon reminders" alt="Reminders">
			<hr /><hr /><hr /><hr /><hr />
		</a>
		<a class="icon stocks" alt="Stocks"></a>
		<a class="icon gamecenter" alt="Game Center"></a>
		
		<a class="icon newsstand" alt="Newsstand"></a>
		<a class="icon itunesstore" alt="iTunes Store"></a>
		<a class="icon appstore" alt="App Store"></a>
		<a class="icon passbook" alt="Passbook"></a>
		
		<a class="icon compass" alt="Compass"></a>
		<a class="icon settings" alt="Settings"></a>
		
	</div>
	
	<div class="nav-bar">
		<span>&#9679;</span>
		<span>&#9679;</span>
	</div>
	
	<div class="footer-bar icons">
		<a class="icon phone" alt="Phone"></a>
		<a class="icon mail" alt="Mail"></a>
		<a class="icon safari" alt="Safari"></a>
		<a class="icon music" alt="Music"></a>
	</div>
	
	
	
</div>


<%- scriptLink('/js/screens/home.js', {type: 'text/javascript'}) %>