<%- styleLink('/css/screens.css', {rel:'stylesheet'}) %>

<div class="links">
	<a href="https://github.com/tessat/iPhoneCSS" class="github" target="_blank"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
	
	<div class="fb-like" data-href="http://beautifully.unapologeticallycss.com" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
	
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://beautifully.unapologeticallycss.com" data-text="iOS7 done completely with CSS (yes, really)" data-hashtags="iOS7CSS">Tweet</a>
</div>

<h1>iOS7</h1>
<h2>Beautifully, Unapologetically CSS</h2>

<div class="iphone-border">
	<span class="top left">
		<span class="ringer"></span>
		<span class="volume up"></span>
		<span class="volume down"></span>
	</span>
	<span class="top right">
		<span class="power"></span>
	</span>
	<span class="bottom left"></span>
	<span class="bottom right"></span>
	
	<div class="iphone">	
		<span class="speaker"></span>
		<div class="screen">
			
			<%= partial('_home'); %>
		
		</div>
		<a href="#" class="home"></a>
	</div>
</div>

<div class="disclaimer">
	(Yes, this is really just CSS.)
</div>

