<%- imageTag('img/iphone-home.png', {id: 'iphone'}) %>

<div class="iphone-border">
	<span class="top left">
		<span class="ringer"></span>
		<span class="volume up"></span>
		<span class="volume down"></span>
	</span>
	<span class="top right">
		<span class="power"></span>
	</span>
	<span class="bottom left"></span>
	<span class="bottom right"></span>
	
	<div class="iphone">	
		<span class="speaker"></span>
		<div class="screen">
			
			<%= partial('_home'); %>
		
		</div>
		<a href="#" class="home"></a>
	</div>
</div>