/*
General Screen Styles
*/

.iphone .screen .top-bar {
	text-align:center;
	font-size:10px;
	padding:1px 3px 2px;
}

.iphone .screen .top-bar .signal,
.iphone .screen .top-bar .wifi {
	float:left;
}

.iphone .screen .top-bar .wifi {
	height:10px;
	width:10px;
	position:relative;
	left:5px;
	top:-1px;
	overflow:hidden;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.iphone .screen .top-bar .wifi hr {
	border:none;
	padding:0px;
	margin:0px;
	position:relative;
	top:7px;
	left:7px;
	height:6px;
	width:6px;
	background:#fff;
	
	-moz-border-radius: 		10px;
  -webkit-border-radius: 	10px;
  border-radius: 					10px;
}

.iphone .screen .top-bar .wifi hr:before {
	content:"";
	display:block;
	height:8px;
	width:8px;
	position:absolute;
	left:-3px;
	top:-3px;
	border:2px solid #fff;
	-moz-border-radius: 		10px;
  -webkit-border-radius: 	10px;
  border-radius: 					10px;
}

.iphone .screen .top-bar .wifi hr:after {
	content:"";
	display:block;
	height:14px;
	width:14px;
	position:absolute;
	left:-6px;
	top:-6px;
	border:2px solid #fff;
	-moz-border-radius: 		10px;
  -webkit-border-radius: 	10px;
  border-radius: 					10px;
}

.iphone .screen .top-bar .time {
	position:relative;
	left:6px;
	font-weight:bold;
	font-size:9px;
}

.iphone .screen .top-bar .battery {
	float:right;
	font-size:9px;
	position:relative;
	top:2px;
}

.iphone .screen .top-bar .battery:after {
	content:"";
	display:block;
	height:6px;
	width:17px;
	background:#fff;
	float:right;
	margin:2px 3px 0px 6px;
	
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.7);
}

.iphone .screen .top-bar .battery:before {
	content:"";
	display:block;
	height:2px;
	width:1px;
	background:rgba(255,255,255,0.9);
	float:right;
	position:relative;
	top:4px;
	right:2px;
	
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.3);
}

.iphone .screen .icons {
	padding:0px 7px;
}

.iphone .screen .icon {
	background:#fff;
	display:inline-block;
	position:relative;
	height:46px;
	width:46px;
	margin:4px 5px 14px;
	padding:0px;
	
	cursor: pointer;
	cursor: hand;
	
	-moz-border-radius: 		10px;
  -webkit-border-radius: 	10px;
  border-radius: 					10px;
}

.iphone .screen .icon:after {
	content:attr(alt);
	display:block;
	width:56px;
	position:absolute;
	bottom:-13px;
	left:-4px;
	
	font-size:9px;
	text-align:center;
}

.iphone .screen .nav-bar {
	position:absolute;
	bottom:77px;
	left:0px;
	width:100%;
	text-align:center;
	font-size:10px;
}

.iphone .screen .nav-bar span {
	display:inline-block;
	margin:0px 2px;
}

.iphone .screen .footer-bar {
	background:rgba(86, 192, 227, 0.9);
	position:absolute;
	left:0px;
	bottom:0px;
	padding-top:6px;
}

/*
Home Screen
*/

.iphone .screen .home {
	height:100%;
	width:100%;
	position:relative;
	
	background: #161d3c; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #161d3c 0%, #16547b 40%, #05abe0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#161d3c), color-stop(40%,#16547b), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #161d3c 0%,#16547b 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #161d3c 0%,#16547b 40%,#05abe0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #161d3c 0%,#16547b 40%,#05abe0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #161d3c 0%,#16547b 40%,#05abe0 100%); /* W3C */
}

.iphone .screen .home .bg {
	position:absolute; 
	left:0px; 
	top:0px; 
	height:100%; 
	width:100%;
	overflow:hidden;
}
.iphone .screen .home .bg span {
	display:block;
	position:absolute;
	background:rgba(255,255,255,0.1);
	height:10px;
	width:10px;
	
	box-shadow:0px 0px 1px 25px rgba(255,255,255,0.1);
	
	-moz-border-radius: 		80px;
  -webkit-border-radius: 	80px;
  border-radius: 					80px;

	display:none;
}
.iphone .screen .home .bg span:nth-child(3n) {
	box-shadow:0px 0px 2px 15px rgba(255,255,255,0.1);
}
.iphone .screen .home .bg span:nth-child(2n) {
	box-shadow:0px 0px 2px 1px rgba(255,255,255,0.2);
	background:rgba(255,255,255,0.2);
}

/* Home Screen: Icons */

/* Home Screen: Icons: Messages */

.iphone .screen .icon.messages {
	background: #9afd7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #9afd7d 0%, #43e62f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9afd7d), color-stop(100%,#43e62f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9afd7d 0%,#43e62f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9afd7d 0%,#43e62f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9afd7d 0%,#43e62f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9afd7d 0%,#43e62f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9afd7d', endColorstr='#43e62f',GradientType=0 ); /* IE6-9 */
}

.iphone .screen .icon.messages hr {
	background:#fff;
	height:27px;
	width:33px;
	border:none;
	margin:8px;
	margin-left:7px;
	padding:0px;
	
	-moz-border-radius: 		30px;
  -webkit-border-radius: 	30px;
  border-radius: 					30px;
}

.iphone .screen .icon.messages hr:after {
	content:"";
	display:block;
	position:absolute;
	border-color:transparent #fff;
	border-style:solid;
	border-width:2px 0px 6px 4px;
	bottom:6px;
	left:14px;
	width:0px;
	
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
}

/* Home Screen: Icons: Calendar */

.iphone .screen .icon.calendar {}

.iphone .screen .icon.calendar .weekday {
	font-size:7px;
	color:#e18888;
	display:block;
	width:100%;
	float:left;
	text-align:center;
	margin-top:6px;
}

.iphone .screen .icon.calendar .date {
	font-size:28px;
	display:block;
	width:100%;
	float:left;
	text-align:center;
	color:#333;
	position:relative;
	top:-1px;
	font-family: 'Bubbler One', sans-serif;
	letter-spacing:1px;
}

/* Home Screen: Icons: Photos */

.iphone .screen .icon.photos {}
	
.iphone .screen .icon.photos span {
	display:block;
	position:absolute;
	top:37%;
	left:53%;
	height:13px;
	width:18px;
	
	-moz-border-radius: 		40px;
  -webkit-border-radius: 	40px;
  border-radius: 					40px;

	-webkit-transform-origin: -1.5px center;
	-moz-transform-origin: 		-1.5px center;
	-ms-transform-origin:			-1.5px center;
	-o-transform-origin:			-1.5px center;
}

.iphone .screen .icon.photos span.red {
	background:rgba(249,22,0,0.4);
	
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}

.iphone .screen .icon.photos span.orange {
	background:rgba(250,153,0,0.4);
	
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
}

.iphone .screen .icon.photos span.yellow {
	background:rgba(255,235,0,0.6);
	
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
}

.iphone .screen .icon.photos span.green {
	background:rgba(187,229,0,0.5);
}

.iphone .screen .icon.photos span.seafoam {
	background:rgba(79,213,85,0.4);
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.iphone .screen .icon.photos span.blue {
	background:rgba(0,140,244,0.4);
	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.iphone .screen .icon.photos span.purple {
	background:rgba(55,0,215,0.4);
	
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}

.iphone .screen .icon.photos span.pink {
	background:rgba(229,0,108,0.4);
	
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}


/* Home Screen: Icons: Camera */

.iphone .screen .icon.camera {
	background: #e5e6e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e6e7 0%, #a5a9ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e6e7), color-stop(100%,#a5a9ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e6e7 0%,#a5a9ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e6e7 0%,#a5a9ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e6e7 0%,#a5a9ab 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e6e7 0%,#a5a9ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e6e7', endColorstr='#a5a9ab',GradientType=0 ); /* IE6-9 */
}

.iphone .screen .icon.camera .body {
	
}

.iphone .screen .icon.camera .body .lens {
	
}

/* Home Screen: Icons: Weather */

.iphone .screen .icon.weather {
	background: #4688ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #4688ff 0%, #4ce4ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4688ff), color-stop(100%,#4ce4ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4688ff 0%,#4ce4ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4688ff 0%,#4ce4ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4688ff 0%,#4ce4ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4688ff 0%,#4ce4ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4688ff', endColorstr='#4ce4ff',GradientType=0 ); /* IE6-9 */
}

/* Home Screen: Icons: Clock */

.iphone .screen .icon.clock {
	background:#000;
}

.iphone .screen .icon.clock .clock {
	background:#fff;
	height:40px;
	width:40px;
	position:absolute;
	left:3px;
	top:3px;
	
	-moz-border-radius: 		40px;
  -webkit-border-radius: 	40px;
  border-radius: 					40px;
}

.iphone .screen .icon.clock .clock:after {
	content:"";
	position:absolute;
	top:47%;
	left:47%;
	height:3px;
	width:3px;
	background:#000;
	
	-moz-border-radius: 		4px;
  -webkit-border-radius: 	4px;
  border-radius: 					4px;
}

.iphone .screen .icon.clock .clock hr {
	position:absolute;
	top:50%;
	left:50%;
	border:none;
	margin:0px;
	padding:0px;
}
.iphone .screen .icon.clock .clock hr.hour {
	background:#000;
	width:9px;
	height:1px;
}
.iphone .screen .icon.clock .clock hr.minute {
	background:#000;
	width:14px;
	height:1px;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	
	-webkit-transform-origin: left center;
	-moz-transform-origin: 		left center;
	-ms-transform-origin:			left center;
	-o-transform-origin:			left center;
}

.iphone .screen .icon.clock .clock hr.second {
	background:#efa2a5;
	width:13px;
	height:1px;
	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	
	-webkit-transform-origin: left center;
	-moz-transform-origin: 		left center;
	-ms-transform-origin:			left center;
	-o-transform-origin:			left center;
}

.iphone .screen .icon.clock .clock div {
	font-size:5px;
	color:#333;
	height:5px;
	width:95%;
	margin:0px auto;
	position:relative;
}

.iphone .screen .icon.clock .clock div:nth-child(2),
.iphone .screen .icon.clock .clock div:nth-child(6) {
	width:51%;
}
.iphone .screen .icon.clock .clock div:nth-child(2) {
	top:-2px;
}
.iphone .screen .icon.clock .clock div:nth-child(6) {
	bottom:-2px;
}
.iphone .screen .icon.clock .clock div:nth-child(3),
.iphone .screen .icon.clock .clock div:nth-child(5) {
	width:83%;
}
.iphone .screen .icon.clock .clock div:nth-child(3) {
	top:-1px;
}
.iphone .screen .icon.clock .clock div:nth-child(5) {
	bottom:-1px;
}
.iphone .screen .icon.clock .clock div:nth-child(4) {
	height:7px;
	padding-top:2px;
}
.iphone .screen .icon.clock .clock div:nth-child(1) span,
.iphone .screen .icon.clock .clock div:nth-child(7) span {
	display:block;
	width:100%;
	text-align:center;
}

.iphone .screen .icon.clock .clock div span:nth-child(1) {
	position:absolute;
	left:0px;
}
.iphone .screen .icon.clock .clock div span:nth-child(2) {
	position:absolute;
	right:0px;
}

/* Home Screen: Icons: Videos */

.iphone .screen .icon.videos {
	background: #4fe6bf; /* Old browsers */
	background: -moz-linear-gradient(top,  #4fe6bf 25%, #5ac8fb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#4fe6bf), color-stop(100%,#5ac8fb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4fe6bf 25%,#5ac8fb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4fe6bf 25%,#5ac8fb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4fe6bf 25%,#5ac8fb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4fe6bf 25%,#5ac8fb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fe6bf', endColorstr='#5ac8fb',GradientType=0 ); /* IE6-9 */
}
	
.iphone .screen .icon.videos .arm {
	width:100%;
	height:14px;
	overflow:hidden;
	padding:0px;
	margin:0px;
	float:left;
	position:relative;
	
	-moz-border-radius:			0px 0px 10px 10px;
  -webkit-border-radius:	0px 0px 10px 10px;
  border-radius:					0px 0px 10px 10px;

	-webkit-transform: 	rotate(180deg);
	-moz-transform: 		rotate(180deg);
	-ms-transform: 			rotate(180deg);
	-o-transform: 			rotate(180deg);
	
	box-shadow:0 -1px 1px -1px #000000;
}

.iphone .screen .icon.videos .arm:after {
	content:"";
	display:block;
	width:100%;
	height:0.5px;
	background:#000;
	position:absolute;
	left:0px;
	top:50%;
}

.iphone .screen .icon.videos .arm div {
	width:120%;
	position:absolute;
	left:-10%;
}

.iphone .screen .icon.videos .arm span {
	display:inline-block;
	width:14%;
	height:1px;
	position:relative;
	margin:0px;
	padding:0px;
	float:left;
}

.iphone .screen .icon.videos .arm span:after {
	content:"";
	display:block;
	height:15px;
	width:15px;
	position:absolute;
	left:0px;
	top:0px;
	background:#fff;
	
	-webkit-transform: 	rotate(45deg);
	-moz-transform: 		rotate(45deg);
	-ms-transform: 			rotate(45deg);
	-o-transform: 			rotate(45deg);
}

.iphone .screen .icon.videos .arm span:nth-child(2n+1):after {
	background:#000;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.iphone .screen .icon.videos .arm:after {
		height:1px;
	}
}
	

/* Home Screen: Icons: Notes */

.iphone .screen .icon.notes {}

.iphone .screen .icon.notes .binding {
	background:#fee028;
	height:14px;
	width:100%;
	border-bottom:1px solid #ddd;
	
	-moz-border-radius:			10px 10px 0px 0px;
  -webkit-border-radius:	10px 10px 0px 0px;
  border-radius:					10px 10px 0px 0px;
}

.iphone .screen .icon.notes .binding:after {
	content:"";
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	top:16px;
	left:0px;
	border-bottom:1px dotted #aaa;
}

.iphone .screen .icon.notes hr {
	margin:8px 0px;
	padding:0px;
	border:none;
	display:block;
	width:100%;
	height:0.5px;
	background:#ccc;
}

.iphone .screen .icon.notes hr:nth-child(2) {
	margin-top:8px;
}

.iphone .screen .icon.notes hr:nth-child(4) {
	width:97%;
	left:1px;
	position:relative;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.iphone .screen .icon.notes hr {
		height:1px;
		margin:7px 0px;
	}
}

/* Home Screen: Icons: Reminders */

.iphone .screen .icon.reminders {}

.iphone .screen .icon.reminders hr {
	background:#ccc;
	border:none;
	padding:0px;
	margin:4.2px 2px;
	width:69%;
	height:0.5px;
	float:left;
	position:relative;
	left:12px;	
	display:block;
}

.iphone .screen .icon.reminders hr:nth-child(1) {
	margin-top:5px;
}

.iphone .screen .icon.reminders hr:nth-child(1),
.iphone .screen .icon.reminders hr:nth-child(5) {
	width:30px;
}

.iphone .screen .icon.reminders hr:before {
	content:"";
	display:block;
	height:4.2px;
	width:4.2px;
	position:relative;
	right:9px;
	top:2px;
	
	border:0.5px solid #fff;
	
	-moz-border-radius: 		6px;
  -webkit-border-radius: 	6px;
  border-radius: 					6px;
}

.iphone .screen .icon.reminders hr:nth-child(1):before {
	background: #fcae00; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fcae00 0%, #fcb111 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcae00), color-stop(100%,#fcb111)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcae00 0%,#fcb111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcae00 0%,#fcb111 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcae00 0%,#fcb111 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcae00 0%,#fcb111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcae00', endColorstr='#fcb111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow:					0px 0px 0px 0.5px #fcb111;
	-moz-box-shadow:		0px 0px 0px 0.5px #fcb111;
	-webkit-box-shadow: 0px 0px 0px 1px #fcb111;
}

.iphone .screen .icon.reminders hr:nth-child(2):before {
	background: #48c6ff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #48c6ff 0%, #57c8fe 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#48c6ff), color-stop(100%,#57c8fe)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #48c6ff 0%,#57c8fe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #48c6ff 0%,#57c8fe 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #48c6ff 0%,#57c8fe 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #48c6ff 0%,#57c8fe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c6ff', endColorstr='#57c8fe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow:					0px 0px 0px 0.5px #57c8fe;
	-moz-box-shadow:		0px 0px 0px 0.5px #57c8fe;
	-webkit-box-shadow: 0px 0px 0px 1px #57c8fe;
}

.iphone .screen .icon.reminders hr:nth-child(3):before {
	background: #86ec4b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #86ec4b 0%, #8ae458 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#86ec4b), color-stop(100%,#8ae458)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #86ec4b 0%,#8ae458 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #86ec4b 0%,#8ae458 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #86ec4b 0%,#8ae458 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #86ec4b 0%,#8ae458 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86ec4b', endColorstr='#8ae458',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow:					0px 0px 0px 0.5px #8ae458;
	-moz-box-shadow:		0px 0px 0px 0.5px #8ae458;
	-webkit-box-shadow: 0px 0px 0px 1px #8ae458;
}

.iphone .screen .icon.reminders hr:nth-child(4):before {
	background: #df91f5; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #df91f5 0%, #db91f1 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#df91f5), color-stop(100%,#db91f1)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #df91f5 0%,#db91f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #df91f5 0%,#db91f1 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #df91f5 0%,#db91f1 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #df91f5 0%,#db91f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df91f5', endColorstr='#db91f1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	box-shadow:					0px 0px 0px 0.5px #db91f1;
	-moz-box-shadow:		0px 0px 0px 0.5px #db91f1;
	-webkit-box-shadow: 0px 0px 0px 1px #db91f1;
}

.iphone .screen .icon.reminders hr:nth-child(5):before {
	display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
	.iphone .screen .icon.reminders hr {
		height:1px;
		margin:4px 2px;
	}
	.iphone .screen .icon.reminders hr:before {
		border:1px solid #fff;
		height:3px;
		width:3px;
	}
}

/* Home Screen: Icons: Stocks */

.iphone .screen .icon.stocks {
	background:#000;
}

/* Home Screen: Icons: Calculator */

.iphone .screen .icon.calculator {}

.iphone .screen .icon.calculator span {
	display:block;
	position:absolute;
	height:50%;
	padding:0px;
	width:50%;
	background:#ff9500;
	text-align:center;
	border:1px solid #000;
	font-family: 'Bubbler One', sans-serif;
	font-size:20px;
	line-height:25px;
}

.iphone .screen .icon.calculator span.left {
	left:0px;
	border-left:none;
}

.iphone .screen .icon.calculator span.right {
	right:0px;
	border-right:none;
}

.iphone .screen .icon.calculator span.top {
	top:0px;
	border-top:none;
}

.iphone .screen .icon.calculator span.bottom {
	bottom:0px;
	border-bottom:none;
}

.iphone .screen .icon.calculator span.left.top {
	-moz-border-radius:			10px 0px 0px 0px;
  -webkit-border-radius:	10px 0px 0px 0px;
  border-radius:					10px 0px 0px 0px;
}

.iphone .screen .icon.calculator span.right.top {
	-moz-border-radius:			0px 10px 0px 0px;
  -webkit-border-radius:	0px 10px 0px 0px;
  border-radius:					0px 10px 0px 0px;
}

.iphone .screen .icon.calculator span.left.bottom {
	-moz-border-radius:			0px 0px 0px 10px;
  -webkit-border-radius:	0px 0px 0px 10px;
  border-radius:					0px 0px 0px 10px;
}

.iphone .screen .icon.calculator span.right.bottom {
	-moz-border-radius:			0px 0px 10px 0px;
  -webkit-border-radius:	0px 0px 10px 0px;
  border-radius:					0px 0px 10px 0px;

	background:#ddd;
	color:#000;
}

/* Home Screen: Icons: iTunes Store */

.iphone .screen .icon.voicememos {}

.iphone .screen .icon.voicememos .soundwave {
	width:100%;
	height:100%;
	-webkit-transform: 	rotate(270deg);
	-moz-transform: 		rotate(270deg);
	-ms-transform: 			rotate(270deg);
	-o-transform: 			rotate(270deg);
}

.iphone .screen .icon.voicememos .soundwave:after {
	content:"";
	height:100%;
	width:0.5px;
	background:#000;
	position:absolute;
	top:0px;
	left:23px;
}
	
.iphone .screen .icon.voicememos .soundwave hr {
	background:#000;
	height:0.5px;
	margin:0.5px auto;
	padding:0px;
	border:none;
	
	width:1px;
}

.iphone .screen .icon.voicememos .soundwave hr.one {
	width:1px;
}

.iphone .screen .icon.voicememos .soundwave hr.two {
	width:2px;
}

.iphone .screen .icon.voicememos .soundwave hr.three {
	width:3px;
}

.iphone .screen .icon.voicememos .soundwave hr.four {
	width:4px;
}

.iphone .screen .icon.voicememos .soundwave hr.five {
	width:5px;
}

.iphone .screen .icon.voicememos .soundwave hr.six {
	width:6px;
}

.iphone .screen .icon.voicememos .soundwave hr.seven {
	width:7px;
}

.iphone .screen .icon.voicememos .soundwave hr.eight {
	width:8px;
}

.iphone .screen .icon.voicememos .soundwave hr.twelve {
	width:12px;
}

.iphone .screen .icon.voicememos .soundwave hr.fourteen {
	width:14px;
}

.iphone .screen .icon.voicememos .soundwave hr.sixteen {
	width:16px;
}

.iphone .screen .icon.voicememos .soundwave hr.eighteen {
	width:18px;
}

.iphone .screen .icon.voicememos .soundwave hr.thirty {
	width:30px;
}

.iphone .screen .icon.voicememos .soundwave hr.thirtyone {
	width:31px;
}

.iphone .screen .icon.voicememos .soundwave hr.fourty {
	width:40px;
}

@media only screen and (-webkit-min-device-pixel-ratio:2) { 
	.iphone .screen .icon.voicememos .soundwave {
		overflow:hidden;
		float:left;
	}
	.iphone .screen .icon.voicememos .soundwave:after {
		width:1px;
		left:22px;
	}
	.iphone .screen .icon.voicememos .soundwave hr {
		height:1px;
		margin:1px auto;
		position:relative;
		top:-10px;
	}
}



/* Home Screen: Icons: iTunes Store */

.iphone .screen .icon.itunesstore {
	background: #fb6fd1; /* Old browsers */
	background: -moz-linear-gradient(top,  #fb6fd1 0%, #dd6aff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb6fd1), color-stop(100%,#dd6aff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fb6fd1 0%,#dd6aff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fb6fd1 0%,#dd6aff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fb6fd1 0%,#dd6aff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fb6fd1 0%,#dd6aff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6fd1', endColorstr='#dd6aff',GradientType=0 ); /* IE6-9 */
}


/* Home Screen: Icons: App Store */

.iphone .screen .icon.appstore {
	background: #52eaff; /* Old browsers */
	background: -moz-linear-gradient(top,  #52eaff 0%, #4485f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52eaff), color-stop(100%,#4485f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #52eaff 0%,#4485f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #52eaff 0%,#4485f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #52eaff 0%,#4485f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #52eaff 0%,#4485f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52eaff', endColorstr='#4485f9',GradientType=0 ); /* IE6-9 */
}


/* Home Screen: Icons: Compass */

.iphone .screen .icon.compass {
	background:#000;
}

/* Home Screen: Icons: Settings */

.iphone .screen .icon.settings {
	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #a5a8ac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#a5a8ac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#a5a8ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 0%,#a5a8ac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#a5a8ac 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 0%,#a5a8ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#a5a8ac',GradientType=0 ); /* IE6-9 */
}

/* Home Screen: Icons: Phone */

.iphone .screen .icon.phone {
	background: #a1fe80; /* Old browsers */
	background: -moz-linear-gradient(top,  #a1fe80 0%, #4adf6e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a1fe80), color-stop(100%,#4adf6e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a1fe80 0%,#4adf6e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a1fe80 0%,#4adf6e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a1fe80 0%,#4adf6e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a1fe80 0%,#4adf6e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1fe80', endColorstr='#4adf6e',GradientType=0 ); /* IE6-9 */
}

/* Home Screen: Icons: Mail */

.iphone .screen .icon.mail {
	background: #4383fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #4383fe 0%, #60dbfb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4383fe), color-stop(100%,#60dbfb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4383fe 0%,#60dbfb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4383fe 0%,#60dbfb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4383fe 0%,#60dbfb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4383fe 0%,#60dbfb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4383fe', endColorstr='#60dbfb',GradientType=0 ); /* IE6-9 */
}

/* Home Screen: Icons: Music */

.iphone .screen .icon.music {
	background: #fc4a83; /* Old browsers */
	background: -moz-linear-gradient(top,  #fc4a83 0%, #ff7b51 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc4a83), color-stop(100%,#ff7b51)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fc4a83 0%,#ff7b51 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fc4a83 0%,#ff7b51 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fc4a83 0%,#ff7b51 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fc4a83 0%,#ff7b51 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4a83', endColorstr='#ff7b51',GradientType=0 ); /* IE6-9 */
}


